<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chrosciu.taboo"
    android:versionCode="1"
    android:versionName="1.0"
    android:installLocation="preferExternal" >"

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/taboo_icon"
        android:label="@string/app_name"
        android:theme="@style/Theme.Sherlock.Light" >
        <activity
            android:name="com.chrosciu.taboo.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.chrosciu.taboo.CardActivity"
            android:label="@string/card"
            android:parentActivityName="com.chrosciu.taboo.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.chrosciu.taboo.MainActivity" />
        </activity>
        <activity
            android:name="com.chrosciu.taboo.SettingsActivity"
            android:label="@string/settings"
            android:parentActivityName="com.chrosciu.taboo.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.chrosciu.taboo.MainActivity" />
        </activity>
    </application>

</manifest>
